{{ partial "header" . }}
{{ partial "nav" . }}
<main>
	<article>
		<ul>
			{{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
			{{ range $paginator.Pages }}
			<li>
				<a href="{{ .Permalink }}">
					<span>{{ .Date.Format "Jan 02, 2006" }}</span>{{ .Title }}
				</a>
			</li>
			{{ end }}
		</ul>
	</article>
	{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
	<nav class="pagination">
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}">前へ</a>
		{{ end }}
		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}">次へ</a>
		{{ end }}
	</nav>
	{{ end }}

</main>
{{ partial "footer" . }}
